$primary-charcoal: #2e4057;
$primary-zomp: #66a182;
$primary-lightgreen: #aef78e;
$primary-persian-orange: #de9151;
$primary-text: whitesmoke;

$secondary-tea-green: #c5e6a6;
$secondary-tea-green: #9899a6;
