$primary-charcoal: #2e4057;
$primary-zomp: #66a182;
$primary-lightgreen: #aef78e;
$primary-dark-green: #2C3333;
$primary-light-green: #CBE4DE;
$primary-medium-green: #0E8388;
$primary-text: #2C3333;
$primary-white: whitesmoke;

$secondary-tea-green: #c5e6a6;
$secondary-cool-gray: #9899a6;
$secondary-cool-gray-faint: #9899a680;
