@use "../../styles/partials/variables" as *;
.money {
  &-cards {
    display: flex;
    // justify-content: space-between;
    gap: 1.6rem;
  }

  &-card {
    border: 0.1px solid #cdd6dd;
    width: 27%;
    background-color: $primary-medium-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .6rem;
    flex-grow: 1;
    padding: 2rem;

    &__img {
      filter: invert(17%) sepia(16%) saturate(280%) hue-rotate(131deg) brightness(98%) contrast(94%);
      height: 3.2rem;
    }

    &__heading {
      margin: 1rem 0 0.4rem;
      color: #fff;
    }

    &__money {
      margin: 0;
      color: $primary-light-green;
    }
  }
}
