main {
  width: 100%;
  height: 100vh;
  background: rgb(102, 161, 130);
  background: linear-gradient(90deg, rgba(102, 161, 130, 1) 100%, rgba(2, 0, 36, 1) 2e4057);
}

.landing {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  &__top {
    display: flex;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    width: 100%;
  }
}

.buttoms {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
